body {
    background-color: ghostwhite;
}

.app {
    text-align: center;
}

.answer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.answer-section button {
    margin: 1em;
}

header {
    color: hotpink;
    margin: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: fantasy;
    font-size: xx-large;
    letter-spacing: 0.25em;
    text-shadow: 2px 2px 2px red;
    background-color: cornsilk;
    padding: 1em;
    border: 1px solid;
}

/* header:hover {
    box-shadow: 5px 5px 5px hotpink;
} */

button {
    /* border: none; */
    border-style: hidden;
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.75);
    /* 5px 5px 5px red;*/
    padding: 1em;
    border-radius: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: hotpink;
    letter-spacing: 0.05em;
    background-color: cornsilk;
}

/* button:hover { */
/* background-color: antiquewhite; */
/* box-shadow: 7px 7px 7px red; */
/* opacity: 50% */
/* } */

.question-text {
    font-style: italic;
    letter-spacing: 0.05em;
    word-spacing: 0.25em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    color: darkslategrey;
}

.score-section {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    word-spacing: 0.25em;
    font-family: fantasy;
    font-size: x-large;
    color: darkslateblue;
    text-shadow: 2px 2px 2px lightslategray;
    padding-top: 3em;
}

img {
    width: 100px;
    height: 150px;
    object-fit: cover;

    /* background-color: transparent; */
    animation-name: violator;
    animation-duration: 5s;
    animation-delay: 1.5s;

    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* 'ease' är default */
}

@keyframes violator {
    /* Example with 'to' and 'from': */
    /* from {
        background-color: red;
    }

    to {
        background-color: greenyellow;
    } */

    /* Example with percentages: */
    /* 0% {
        background-color: red;
    }

    25% {
        background-color: yellow;
    }

    50% {
        background-color: blue;
    }

    75% {
        background-color: green;
    }

    100% {
        background-color: red;
    } */

    /* Example with >1 property affected: */
    /* from {
        background-color: lightskyblue;
        opacity: 100%;
    }

    to {
        background-color: yellow;
        opacity: 20%;
    } */

    from {
        transform: rotate(0deg);
    }

    /* Kan också skriva bara rotate: 0deg*/
    to {
        transform: rotate(360deg);
    }
}

img:hover {
    opacity: 50%;
}

/* These media queries are needed for a problem with wrong font-family on small screens, not detected in Developer Tools. */
/* @media screen and (max-width: 480px) {
    header {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .question-text {
        margin-bottom: 0px;
    }

    .score-section {
        font-family: Verdana, Geneva, Tahoma, sans-serif;        
    }

    button {
        background-color: cornsilk;
        box-shadow: 5px 5px 5px red;
    }
  } */

/* Change to mobile-first principle, to get rid of the hover-problem on touch-screens: */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .question-text {
        margin-bottom: 0px;
    }

    .score-section {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    img {
        width: 90px;
        height: 135px;
        object-fit: cover;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .question-text {
        margin-bottom: 0px;
    }

    .score-section {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    img {
        width: 90px;
        height: 135px;
        object-fit: cover;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    button:hover {
        background-color: antiquewhite;
        box-shadow: 7px 7px 7px rgba(255, 0, 0, 0.75)
    }

    header {
        font-family: fantasy;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    button:hover {
        background-color: antiquewhite;
        box-shadow: 7px 7px 7px rgba(255, 0, 0, 0.75)
    }

    header {
        font-family: fantasy;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    button:hover {
        background-color: antiquewhite;
        box-shadow: 7px 7px 7px rgba(255, 0, 0, 0.75)
    }

    header {
        font-family: fantasy;
    }
}