.app {
    text-align: center;
}

.answer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.answer-section button {
    margin: 1em;
}

header {
    color: hotpink;
    margin: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: fantasy;
    font-size: xx-large;
    letter-spacing: 0.25em;
    text-shadow: 2px 2px 2px red;
    background-color: cornsilk;
    padding: 1em;
    border: 1px solid;
}

button {
    /* border: none; */
    border-style: hidden;
    box-shadow: 15px 5px 5px red;
    padding: 1em;
    border-radius: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: hotpink;
    letter-spacing: 0.05em;
    background-color: cornsilk;
}

button:hover {
    background-color: antiquewhite;
    box-shadow: 5px 5px 5px red;
}